h2{
  background-color: green;
}
p{
  background-color: red;
}
em{
  background-color: tomato;
}
span{
  background-color: yellow;
}
img{
  background-color: black;
}
div{
  background-color: green;
}
input{
  background-color: red;
}