*{
  margin: 0;
  padding: 0;
}
.maindiv{
  background:#3498db ;
  text-align: center;
}
.maindiv ul li{
  display: inline-block;
  margin-left: -4px;
  position: relative;
}
.maindiv ul li a{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-right: 1px solid gray;
}
.maindiv ul li:first-child a{
  border-left: 1px solid gray;
}
.maindiv ul li:hover > a{
  background: #2980b9;
}
.maindiv ul li ul{
  background:#3498db ;
  position: absolute;
  left: 0;
  top:100%;
  width: 198px;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  transform: scaley(0);
  transform-origin: top center;
  
}
.maindiv ul li ul li{
  display: block;
  border-bottom: 1px solid gray;
  margin-left: 0;
  
}
.maindiv ul li ul li a{
  display: block;
  border: none;
}
.maindiv ul li ul li:first-child a{
  border-left: none;
  border-top: 1px solid gray;
  
}
.maindiv ul li:hover ul{
  opacity: 1;
  visibility: visible;
  transform: scaley(1);
}