*{
  margin: 0;
  padding: 0;
}
.nokia li a{
  background-color: green;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  margin-left: -5px;
  text-decoration:none;
  border: 1px solid yellow;
}
.nokia li{
  display: inline-block;
  text-align: center;
}
.nokia{
  text-align: center;
}
.nokia li a:hover{
  background-color: tomato;
  transition: .3s;
}

.bgc{
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8t1ufbsVp8HDOg-etOF9kfDFRsJZDVarBaw&usqp=CAU);
  padding: 200px 0;
  background-position: top center;
  background-size: 100%;
  color: white;
  background-repeat:no-repeat ;
  background-attachment: fixed;
}
.test1{
  height: 1000px;
}