.header{
  background: #3498db;
}
.header img{
  max-width: 100%;
}
img{
  max-width: 100%;
}
.primary-manu{
  
}
.primary-manu ul{
  text-align: right;
  margin-bottom: -5px;
}
.primary-manu ul li{
  display: inline-block;
  border-right: 1px solid #ddd;
  margin-left: -4px;
}
.primary-manu ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px 15px;
  line-height: 56px;
  display: block;
}
.primary-manu ul li a:hover{
  background: #2980b9;
}

.banner{
  background-image: url(./img/slider.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding:120px 0;
}
.banner h2{
  background:#83838386 ;
  font-size: 40px;
  display: inline-block;
  padding: 7px 8px;
  color: white;
  border-radius: 5px;
  margin-bottom:15px ;
}
.banner h1{
  background:#00ccff88 ;
  font-size: 30px;
  padding: 5px 5px;
  color: white;
  border-radius: 5px;
  width: 600px;
  margin: auto;
}

.service span{
  background:#3498db ;
  width: 60px;
  height:60px ;
  margin:5px auto;
  line-height: 60px;
  color: white;
  border-radius: 20px 0 20px 0;
}