*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration:none ;
}
body,h1,h2,h3,h4,h5,h6,a,span,p{
    font-family: 'Work Sans', sans-serif;
}
.mid-content{
    max-width: 1300px;
    margin: auto;
}
.header-section{
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
    position: fixed;
    z-index: 99;
    width: 100%;
}
.header-section a{
    color: #010101;
}
.header-logo{
    width: 30%;
}
.header-logo img{
    width: 50px;
    float: left;
}
.header-logo span{
    line-height: 60px;
    margin-left: 15px;
    font-size: 26px;
    font-weight: 500;
}
.header-manu{
   width: 56% ;
}
.primary-manu ul{}
.primary-manu ul li{
    display: inline-block;
    list-style: none;
    position: relative;
}
.primary-manu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: top center;
}
.primary-manu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.primary-manu ul li ul li{
    border-bottom: 1px solid #ddd;
    display: block;
}
.primary-manu ul li ul li a:hover{}

.primary-manu ul li a{
    display: block;
    padding: 0 20px;
    line-height: 60px;
    font-size: 17px;
}
.primary-manu ul li a:hover{}

.header-button{
    width: 14%;
    text-align: right;
}
.header-btn{
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid  #6278df;
    padding: 10px 30px;
    border-radius: 10px;
    color: #6278df !important;
    margin-top: 8px;
}

/* banner */
 
.banner-section{
    background: url(https://i.ibb.co/PmHFfFy/02.jpg) no-repeat center center;
    background-size: cover;
    padding: 120px 0;
    color: white;
    position: relative;
    z-index: 1;
}
.banner-section::after{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(0, 0, 0, .4);
    z-index: -1;
}
.banner-content{
    z-index: 2;
}
.banner-content h3{
    font-size: 26px;
    font-weight: 400;
}
.banner-content h2{
   font-size: 60px; 
   margin: 30px 0;
}
.default-btn{
    color: #7d7d7d ;
    background: #fff;
    padding: 20px 30px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}
/* video section */

.video-section{
    background: #f7f9ff;
    padding: 100px 0;
}
.video-left{
 width: 48%;
}
.video-content{
    width: 48%;
}
.video-content h3 {
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: -10px;
}
.video-content p{
    color: rgb(150, 150, 150);
    font-size: 24px;
}

/*  Servcie Section  */
.service-section{
    background: #fff;
    padding: 100px 0;
}

.section-title h1 {
    font-size: 64px;
    margin-bottom: 30px;
}
.section-title p {
    color: #767676;
    font-size: 26px;
}

/*  Serice Item  */
.service-item {
    margin-top: 90px;
}
.service-box {
    width: 31.3%;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.1);
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 25px;
    box-sizing: border-box;
}
.s-icon {
    width: 60px;
    float: left;
    min-height: 168px;
    font-size: 45px;
    color: #6278df;
    margin-right: 10px;
}
.s-content {
    margin-top: 8px;
}
.s-content h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}
.s-content p {
    color: #767676;
    font-size: 20px;
    line-height: 1.6em;
}